a {
    cursor: pointer;
}
.auto-width {
    width: auto;
}
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.popover-content {
    padding: 0;
}
.header {
    border-bottom: 0;
}