a {
    cursor: pointer;
}
.auto-width {
    width: auto;
}
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.popover-content {
    padding: 0;
}
.header {
    border-bottom: 0;
}
.mess-error {
    color: #f00;
    margin: 5px 0;
}
.is-error {
    border-color: #b31d1d;
}
.table.text-center > thead th{
    vertical-align: middle;
    text-align: center;
}