<!-- Large modal -->
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">Create Deal</h4>
      </div>    
      <div class="modal-body">
        <!-- Form starting -->
        <form class="form-horizontal" name="dealForm">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Deal Name *</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="deal.name" 
                      required ng-change="validateName(deal.name)" ng-class="error.dealName ? 'is-error' : ''"
                      ng-disabled="deal.isEdit">
              <p class="mess-error" ng-show="error.dealName"> {{error.dealName}} </p>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">Deal Descriptions</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="deal.decs">
            </div>
          </div>               
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">Traffic Name</label>
            <div class="col-sm-10">
              <select type="text" class="form-control auto-width" ng-model="deal.traffic" ng-options="traffic for traffic in traffics"></select>
            </div>
          </div>        
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">
              <select type="text" class="form-control auto-width" ng-model="deal.status" ng-options="status for status in statuses"></select>
            </div>
          </div> 
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">Owner</label>
            <div class="col-sm-10">
              <select type="text" class="form-control auto-width" ng-model="deal.owner" ng-options="k as v for (k, v) in owners"></select>
            </div>
          </div> 
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">Share</label>
            <div class="col-sm-10">
              <input type="number" class="form-control auto-width" ng-model="deal.share" ng-change="validateShare(deal.share)" ng-class="error.dealShare ? 'is-error' : ''">
              <p class="mess-error" ng-show="error.dealShare"> {{error.dealShare}} </p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="deal.reviewed"> Reviewed 
                </label>
              </div>
            </div>
          </div>
        </form>
        <!-- Form ending -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      <button type="button" class="btn btn-primary" ng-if="!deal.isEdit" ng-click="onSave(deal)"ng-disabled="dealForm.$invalid">Create</button>
      <button type="button" class="btn btn-primary" ng-if="deal.isEdit" ng-click="onSave(deal)" ng-disabled="dealForm.$invalid">Save changes</button>
    </div>    
    </div>  