<div class="form-group">
    <label for="" class="col-sm-2 control-label">Share All Traffic</label>
    <div class="col-sm-10">
        <input type="number" class="form-control auto-width" 
        name="share" ng-model="vm.share.allTraffic"
        min="0" max="100"
        ng-class="error.dealShare.allTraffic ? 'is-error' : ''">        
        <div ng-messages="dealForm.share.$error" class="mess-error" >
            <div ng-message="min">This field must be larger 0</div>
            <div ng-message="max">This field must be smaller 100</div>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="" class="col-sm-2 control-label">Share M2M</label>
    <div class="col-sm-10">
        <input type="number" class="form-control auto-width" 
         min="0" max="100"
         ng-model="vm.share.m2M" ng-class="error.dealShare.m2M ? 'is-error' : ''">
        <div ng-messages="dealForm.share.$error" class="mess-error" >
            <div ng-message="min">This field must be larger 0</div>
            <div ng-message="max">This field must be smaller 100</div>
        </div>         
    </div>
</div>

    <div class="form-group">
    <label for="" class="col-sm-2 control-label">Share Non-M2M</label>
    <div class="col-sm-10">
        <input type="number" class="form-control auto-width" 
         min="0" max="100"
         ng-model="vm.share.nonM2M" ng-class="error.dealShare.nonM2M ? 'is-error' : ''">
        <div ng-messages="dealForm.share.$error" class="mess-error" >
            <div ng-message="min">This field must be larger 0</div>
            <div ng-message="max">This field must be smaller 100</div>
        </div>
        <p class="mess-error" ng-show="vm.error.dealShare.total"> {{vm.error.dealShare.total}} </p>          
    </div>
</div> 